@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -56px 0;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  60% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
