@keyframes loadingState
    0%
        background-position 0 0
    100%
        background-position -56px 0

@keyframes shakingState
    8%, 41%
        transform: translateX(-10px)
    25%, 58%
        transform: translateX(10px)
    75%
        transform: translateX(-5px)
    92%
        transform: translateX(5px)
    0%, 100%
        transform: translateX(0)

@keyframes cursorBlink
    0%, 100%
        opacity: 0
    50%
        opacity: 1

@keyframes rotating
    100%
        transform: rotate(360deg)

@keyframes cipr_appear
    0%
        opacity: 0
        transform: translateX(-15px) rotate(-1deg) scale(1.2)
    100%
        opacity: 1
        transform: none

@keyframes cipr_blink
    0%, 75%, 100%
        opacity: 1
    50%
        opacity: 0


@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        transform: scale3d(1, 1, 1);
    }

    60% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
