@import 'mq'
@import 'functions'
@import 'keyframes'
// @import 'base'

$colors = {
    white: #ffffff,
    black: #000000,
    gray: #646464,
    accent: #00FAFA,
    pink: #F22966,
    gray: #CAE9E9
}

.Cipr
    width: 100%
    max-width: 1060px
    margin: 0 auto
    min-height: 580px
    // background-color: $colors.white
    color: $colors.black
    font-size: 16px
    line-height: 1.5em
    display: flex
    flex-direction: column
    padding: 0 0 30px
    position: relative
    // z-index: 1
    overflow: hidden
    outline: 0

    @media $mq.not_mobile
        font-size: 18px
        min-height: 560px
        margin: auto
        border: 7px solid $colors.accent
        padding: 0 0 60px

    @media $mq.tablet
        max-width: 640px
        min-height: 600px

    @media $mq.desktop
        overflow: visible

    @media $mq.iphone5
        min-height: 560px

    &:before
        @media $mq.desktop
            content: ''
            width: 720px
            height: 472px
            background-image: url('https://leonardo.osnova.io/48be3c81-8ce7-f2a2-0a30-98f01f51fcdb/')
            background-repeat: no-repeat
            background-size: 100% auto
            position: absolute
            top: 50px
            right: -120px
            z-index: -1
            transition: transform 0.3s ease-in-out

    &__heart
        width: 484px
        height: 666px
        background-image: url('https://leonardo.osnova.io/f5f4be9d-bd07-2bb1-5e23-8d43d08db800/')
        background-repeat: no-repeat
        background-size: contain
        position: absolute
        top: -60px
        right: -315px
        z-index: -1
        transform-origin: 50% 50%
        transform: rotate(40deg)
        transition: transform 0.5s ease-in-out

        @media $mq.desktop
            display: none

        @media $mq.mobile
            transform: rotate(40deg) scale(0.75)
            top: 20px
            right: auto
            left: 150px

        &:before
            content: ''
            width: 434px
            height: 348px
            background-image: url('https://leonardo.osnova.io/3b659861-ba88-bafd-302d-53a42cce4848/')
            background-repeat: no-repeat
            background-size: contain
            transform: rotate(-95deg)
            position: absolute
            top: 370px
            left: -220px
            transition: transform 0.5s ease-in-out

        span
            content: ''
            width: 111px
            height: 111px
            background-image: url('https://leonardo.osnova.io/cb8e42cd-99db-02a0-5f4f-8a26c191d7f7/')
            background-repeat: no-repeat
            background-size: contain
            position: absolute
            z-index: 1
            bottom: 160px
            left: 158px
            transform: rotate(-40deg)
            animation: cipr_blink 3s infinite ease-in-out

    svg
        pointer-events: none
        fill: currentColor

    &__header
        display: flex
        align-items: center
        padding: 15px

        @media $mq.not_mobile
            padding: 35px 70px

        @media $mq.tablet
            padding: 35px 40px

        a
            border: 0 !important
            color: inherit !important

    &__counter
        display: flex
        animation: cipr_appear 0.3s ease-in-out

        span
            width: 10px
            height: @width
            border: 2px solid $colors.gray
            margin-right: 5px
            flex-shrink: 0

            &.active
                border-color: $colors.accent

    &__content
        box-sizing: content-box
        flex: 1
        display: flex
        flex-direction: column
        max-width: 520px
        padding: 0 15px

        @media $mq.not_mobile
            padding: 0 70px

        @media $mq.tablet
            padding: 0 40px

    &__text
        margin-bottom: 20px

        div
            animation: cipr_appear 0.3s ease-in-out

        span
            display: block
            height: 1em

        strong
            font-weight: 700

    &__title
        font-size: 28px
        line-height: 1.3em
        font-weight: 700
        margin-bottom: 10px

        @media $mq.tablet
            font-size: 32px

        @media $mq.desktop
            font-size: 38px

        a
            color: inherit !important
            border: 0 !important

    &__options
        margin-bottom: 10px
        display: flex
        flex-direction: column
        align-items: flex-start

        @media $mq.mobile
            padding-right: 50px

        &--disabled
            pointer-events: none

            .Cipr__option
                display: none

                &--success,
                &--error
                    display: flex

                &--error
                    border-color: $colors.pink

                    ~ .Cipr__message
                        a
                            border-bottom-color: $colors.pink

                            &:hover
                                color: $colors.pink !important

    &__option
        position: relative
        cursor: pointer
        border: 2px solid $colors.accent
        display: flex
        align-items: center
        padding: 10px 15px
        margin-bottom: 10px
        animation: cipr_appear 0.3s ease-in-out

        @media $mq.not_mobile
            padding: 10px 25px

            &:hover
                border-color: $colors.black

    &__message
        margin-top: 10px
        pointer-events: auto
        animation: cipr_appear 0.3s ease-in-out
        max-width: 480px

        @media $mq.not_mobile
            font-size: 16px
            line-height: 1.5em
            margin-top: 15px

        a
            color: inherit !important
            font-weight: 700
            border-bottom: 2px solid $colors.accent
            padding-bottom: 2px

            &:hover
                color: $colors.accent !important

        span
            display: block
            height: 1em

    &__actions
        display: flex

        @media $mq.not_mobile
            margin-top: auto

    &__button
        display: block
        font-size: 20px
        font-weight: 700
        margin: 0
        padding: 0
        cursor: pointer
        outline: 0
        background-color: transparent
        border: 5px solid transparent
        height: 56px
        animation: cipr_appear 0.3s ease-in-out

        &:hover
            @media $mq.not_mobile
                color: $colors.accent

        svg
            display: inline-block
            vertical-align: middle
            margin-left: 15px
            margin-top: -4px

    &__result
        box-sizing: border-box
        display: flex
        background-color: #5F849A
        background-image: url('https://leonardo.osnova.io/5999f84f-96fa-0f36-0b22-48a05ee2ed0f/')
        background-repeat: no-repeat
        background-position: 55% 50%
        background-size: auto 100%
        color: $colors.white
        margin: 0 -15px 15px
        padding: 20px 15px
        height: 320px

        @media $mq.not_mobile
            padding: 30px
            margin: 0 -30px 30px
            height: 413px
            background-position: 50% 50%

        @media $mq.tablet
            padding: 30px 40px
            margin: 0 -40px 30px

    &__resultPoints
        font-size: 16px
        color: #97B8CC
        margin-bottom: 20px

    &__resultContent
        flex: 1
        display: flex
        flex-direction: column
        position: relative
        animation: cipr_appear 0.3s ease-in-out

    &__resultActions
        flex: 1
        display: flex
        flex-direction: column

    &__restartButton
        display: flex
        align-items: center
        cursor: pointer
        color: $colors.accent
        margin-top: auto

        svg
            margin-left: 8px
            pointer-events: none

        &:hover
            @media $mq.not_mobile
                color: $colors.white

                svg path
                    @media $mq.not_mobile
                        fill: $colors.white

    .likely--custom
        display: flex
        margin-bottom: 20px

        @media $mq.not_mobile
            margin-bottom: 60px

        .likely
            &__widget
                height: 50px
                min-width: 60px
                border: 1px solid $colors.accent
                background-color: transparent
                border-radius: 2px
                margin-right: 10px
                display: flex
                align-items: center
                justify-content: center
                color: $colors.accent

                &:last-child
                    margin-right: 0

                &--facebook
                    @media $mq.not_mobile
                        padding: 0 20px

                &:hover
                    @media $mq.not_mobile
                        border-color: $colors.white
                        color: $colors.white

                        svg
                            fill: $colors.white

            &__button
                @media $mq.mobile
                    display: none

            &__icon
                background-color: transparent

                svg
                    display: block
                    width: 24px
                    height: @width
                    fill: $colors.accent

                &--vkontakte
                    svg
                        width: 28px
                        height: @width

                &--facebook
                    @media $mq.not_mobile
                        margin-right: 6px
                        margin-left: -8px

    &[data-mode="start"]
        .Cipr
            &__counter
                display: none

            &__content
                max-width: 270px

                @media $mq.not_mobile
                    max-width: 400px

                @media $mq.desktop
                    max-width: 460px

            &__text
                div
                    animation: none

                @media $mq.not_mobile
                    font-size: 18px
                    line-height: 1.5em

            &__actions
                flex-direction: row

            &__button
                border-color: $colors.accent
                width: 146px
                animation: none

                &:hover
                    border-color: $colors.black
                    color: $colors.black !important

                svg
                    display: none

    &[data-mode="progress"]
        &:before
            transform-origin: 50% 50%
            transform: translateX(70px) rotate(-5deg)

        .Cipr
            &__heart
                transform: rotate(73deg) scale(1.49) translate(320px, 140px)

                @media $mq.mobile
                    transform: rotate(20deg) scale(0.75) translate(100px, -200px)

                &:before
                    transform: translate(15px, -110px) rotate(-75deg) scale(0.85)

            &__header
                a
                    display: none

            &__counter
                width: 64px

            &__text
                font-size: 22px
                line-height: 1.4em
                font-weight: 700

                @media $mq.not_mobile
                    font-size: 22px

            &__button
                height: auto

    &[data-mode="result"]
        @media $mq.not_mobile
            padding-bottom: 40px

        &:before
            display: none

        .Cipr
            &__heart
                display: none

            &__header
                display: none

            &__content
                padding: 0 15px
                max-width: none

                @media $mq.not_mobile
                    box-sizing: content-box
                    padding: 0 30px

                @media $mq.tablet
                    padding: 0 40px

            &__text,
            &__resultContent
                @media $mq.not_mobile
                    max-width: 580px
                    margin-left: auto
                    margin-right: auto

            &__button
                width: 210px
                border-color: $colors.accent
                display: flex
                align-items: center
                justify-content: center
                margin: 20px auto 0

                @media $mq.not_mobile
                    margin-top: 30px

                &:hover
                    border-color: $colors.black
                    color: $colors.black

            &__title
                margin-bottom: 20px
                max-width: 320px

                @media $mq.not_mobile
                    font-size: 34px
                    margin-bottom: 30px

            &__text
                margin-bottom: 0

                @media $mq.not_mobile
                    font-size: 16px
                    line-height: 1.5em

            &__options,
            &__actions
                display: none

    &--compact
        overflow: hidden

        @media $mq.not_mobile
            max-width: 640px
            min-height: 600px

            &:before
                display: none

            .Cipr
                &__heart
                    display: block

                &__header
                    padding: 35px 40px

                &__content
                    padding: 0 40px

                &__title
                    font-size: 32px

                &__result
                    padding: 30px 40px
                    margin: 0 -40px 30px

            &[data-mode="start"]
                .Cipr
                    &__content
                        max-width: 400px

            &[data-mode="result"]
                .Cipr
                    &__content
                        padding: 0 40px