@import 'mq'
@import 'functions'
@import 'keyframes'
// @import 'base'

$colors = {
    white: #ffffff,
    black: #000000,
    gray: #646464,
    accent: #00B856,
    pink: #F22966,
    gray: #CAE9E9
}

button(borderColor = #111, backgroundColor = transparent)
    position relative
    height: 56px
    line-height 56px
    text-align: center

    &::before
        content: ''
        position: absolute;
        top: 0
        bottom: 0
        left: 0
        right: 0
        border: 4px solid borderColor
        background-color backgroundColor
        transform: skewX(-10deg)

contentZone()
    max-width: 580px
    margin 0 auto

.Cipr
    width: 100%
    max-width: 1060px
    margin: 0 auto
    min-height: 580px
    background-color: $colors.white
    color: $colors.black
    font-size: 16px
    line-height: 1.5em
    display: flex
    flex-direction: column
    padding: 0 0 30px
    position: relative
    // z-index: 1
    overflow: hidden
    outline: 0

    @media $mq.not_mobile
        font-size: 18px
        min-height: 560px
        margin: auto
        padding: 0 0 60px

    @media $mq.tablet
        max-width: 640px
        min-height: 600px

    @media $mq.desktop
        overflow: visible

    @media $mq.iphone5
        min-height: 560px

    &__heart
        width: 484px
        height: 666px
        background-image: url('https://leonardo.osnova.io/f5f4be9d-bd07-2bb1-5e23-8d43d08db800/')
        background-repeat: no-repeat
        background-size: contain
        position: absolute
        // top: -60px
        bottom: 0
        right: -315px
        z-index: -1
        transform-origin: 50% 50%
        transform: rotate(40deg)
        transition: transform 0.5s ease-in-out

        @media $mq.desktop
            display: none

        @media $mq.mobile
            transform: rotate(40deg) scale(0.75)
            top: 20px
            right: auto
            left: 150px

        &:before
            content: ''
            width: 434px
            height: 348px
            background-image: url('https://leonardo.osnova.io/3b659861-ba88-bafd-302d-53a42cce4848/')
            background-repeat: no-repeat
            background-size: contain
            transform: rotate(-95deg)
            position: absolute
            top: 370px
            left: -220px
            transition: transform 0.5s ease-in-out

        span
            content: ''
            width: 111px
            height: 111px
            background-image: url('https://leonardo.osnova.io/cb8e42cd-99db-02a0-5f4f-8a26c191d7f7/')
            background-repeat: no-repeat
            background-size: contain
            position: absolute
            z-index: 1
            bottom: 160px
            left: 158px
            transform: rotate(-40deg)
            animation: cipr_blink 3s infinite ease-in-out

    svg
        pointer-events: none
        fill: currentColor

    &__header
        contentZone()
        display: flex
        align-items: center
        padding: 30px 0

        a
            border: 0 !important
            color: inherit !important

    &__counter
        display: flex
        animation: cipr_appear 0.3s ease-in-out

        span
            width: 10px
            height: @width
            border: 2px solid $colors.gray
            margin-right: 5px
            flex-shrink: 0

            &.active
                border-color: $colors.accent

    &__content
        contentZone()
        box-sizing: content-box
        flex: 1
        display: flex
        flex-direction: column

    &__text
        margin-bottom: 20px

        div
            animation: cipr_appear 0.3s ease-in-out

        span
            display: block
            height: 1em

        strong
            font-weight: 700

    &__title
        font-size: 28px
        line-height: 1.3em
        font-weight: 700
        margin-bottom: 10px

        @media $mq.tablet
            font-size: 32px

        @media $mq.desktop
            font-size: 38px

        a
            color: inherit !important
            border: 0 !important

    &__options
        margin-bottom: 10px
        display: flex
        flex-direction: row
        align-items: flex-start

        @media $mq.mobile
            padding-right: 50px

        @media $mq.tablet
            margin-bottom: 80px

        &--disabled
            pointer-events: none

            .Cipr__option
                //display: none

                &--success,
                &--error
                    display: flex

                &--error
                    border-color: $colors.pink

                    ~ .Cipr__message
                        a
                            border-bottom-color: $colors.pink !important

                            &:hover
                                color: $colors.pink !important

    &__option
        position: relative
        cursor: pointer
        display: flex
        align-items: center
        margin-bottom: 10px
        animation: cipr_appear 0.15s ease-in
        flex-direction column
        font-weight: 500
        font-size: 16px

        &:not(:last-of-type){
          margin-right 25px
        }

        &-image {
            max-height 220px
            margin-bottom: 15px
        }

        &-overlay {
            position: absolute
            font-size: 30px
            font-weight: 900
            top: 43%
            transform translateY(-50%)
            width 100%
            text-align: center
            color #fff

            i {
                display: block
                margin: 0 auto 15px
                width: 48px
                height: 30px
                background: url("data:image/svg+xml,%3Csvg width='49' height='31' viewBox='0 0 49 31' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M28.82 23.268a1.387 1.387 0 0 0-.156-.527L17.46 1.6a1.463 1.463 0 0 0-1.753-.688 1.42 1.42 0 0 0-.953 1.602l4.366 23.442c.034.186.106.353.205.505.042.2.093.4.162.6.704 2.005 2.627 3.357 4.786 3.357a5.11 5.11 0 0 0 1.642-.27 4.994 4.994 0 0 0 2.903-2.517 4.859 4.859 0 0 0 .001-4.363zm-4.546-20.82c-.798 0-1.445.635-1.445 1.419 0 .783.647 1.42 1.445 1.42 11.521 0 20.892 9.209 20.892 20.527 0 .783.65 1.42 1.447 1.42.8 0 1.446-.637 1.446-1.42 0-12.886-10.67-23.366-23.785-23.366zM9.328 7.636C3.712 12.099.49 18.724.49 25.814c0 .783.647 1.42 1.446 1.42.8 0 1.447-.637 1.447-1.42 0-6.228 2.83-12.048 7.764-15.969a1.403 1.403 0 0 0 .215-1.997 1.466 1.466 0 0 0-2.034-.212z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
            }
        }

    &__message
        margin-top: 10px
        pointer-events: auto
        animation: cipr_appear 0.3s ease-in-out
        max-width: 480px

        @media $mq.not_mobile
            font-size: 16px
            line-height: 1.5em
            margin-top: 15px

        a
            color: inherit !important
            font-weight: 700
            border-bottom: 2px solid $colors.accent !important
            padding-bottom: 2px

            &:hover
                color: $colors.accent !important

        span
            display: block
            height: 1em

    &__actions
        display: flex

        @media $mq.not_mobile
            margin-top: auto

    &__button
        button($colors.accent)
        display: block
        font-size: 20px
        font-weight: 700
        margin: 0 auto
        padding: 0
        cursor: pointer
        outline: 0
        background-color: transparent
        border: 0
        height: 56px
        animation: cipr_appear 0.3s ease-in-out
        color: #000

        svg
            display: inline-block
            vertical-align: middle
            margin-left: 15px
            margin-top: -4px
            transition transform 100ms ease

        &:hover
            svg
                transform translateX(5px)

    &__result
        box-sizing: border-box
        display: flex
        background-color: #fff
        // background-image: url('https://leonardo.osnova.io/5999f84f-96fa-0f36-0b22-48a05ee2ed0f/')
        background-repeat: no-repeat
        background-position: 75% 50%;
        background-size: auto 215px;
        margin: 0 -15px 15px
        padding: 20px 15px
        height: 320px

        @media $mq.not_mobile
            padding: 30px
            margin: 0 -30px 30px
            height: 413px
            background-position: 50% 50%

        @media $mq.tablet
            padding: 30px 40px
            margin: 0 -40px 30px

    &__resultPoints
        font-size: 16px
        color: #751083;
        margin-bottom: 20px

    &__resultContent
        flex: 1
        display: flex
        flex-direction: column
        position: relative
        animation: cipr_appear 0.3s ease-in-out

    &__resultActions
        flex: 1
        display: flex
        flex-direction: column

    &__restartButton
        display: flex
        align-items: center
        cursor: pointer
        color: $colors.accent
        margin-top: auto

        svg
            margin-left: 8px
            pointer-events: none

    &__timer
        position: absolute
        display: inline-block
        top: 30px
        right: 30px
        background #751083
        color: #fff
        font-size: 16px
        font-weight: 900
        padding 5px;

        &:empty
            display: none

    .likely--custom
        display: flex
        margin-bottom: 20px

        @media $mq.not_mobile
            margin-bottom: 60px

        .likely
            &__widget
                button($colors.accent, $colors.accent)
                height: 50px
                min-width: 60px
                margin-right: 10px
                display: flex
                align-items: center
                justify-content: center
                color: #fff
                background transparent !important

                &::before
                    box-shadow: 0 15px 22px 0 rgba(121,54,68,0.23);

                &:last-child
                    margin-right: 0

                &--facebook
                    @media $mq.not_mobile
                        padding: 0 20px

            &__button,
            &__icon,
            &__counter
                z-index 1

            &__button
                @media $mq.mobile
                    display: none

            &__icon
                background-color: transparent

                svg
                    display: block
                    width: 24px
                    height: @width
                    fill: #fff

                &--vkontakte
                    svg
                        width: 28px
                        height: @width

                &--facebook
                    @media $mq.not_mobile
                        margin-right: 6px
                        margin-left: -8px

    &[data-mode="start"]
        &.Cipr
            background-image url("https://leonardo-direct.osnova.io/0c4dbda8-0c91-ff73-78a7-f5a963e1f404/")
            background-repeat no-repeat
            background-position center 70%
            background-size contain

        .Cipr
            &__counter
                display: none

            &__header
                a
                    margin-left: auto

            &__text
                div
                    animation: none

                @media $mq.not_mobile
                    font-size: 18px
                    line-height: 1.5em

            &__actions
                flex-direction: row

            &__button
                border-color: $colors.accent
                width: 146px
                animation: none

                &:hover
                    border-color: $colors.black
                    color: $colors.black !important

                svg
                    display: none

    &[data-mode="progress"]
        &:before
            transform-origin: 50% 50%
            transform: translateX(70px) rotate(-5deg)

        .Cipr
            &__heart
                transform: rotate(73deg) scale(1.49) translate(320px, 140px)

                @media $mq.mobile
                    transform: rotate(20deg) scale(0.75) translate(100px, -200px)

                &:before
                    transform: translate(15px, -110px) rotate(-75deg) scale(0.85)

            &__header
                a
                    display: none

            &__counter
                width: 64px

            &__text
                font-size: 22px
                line-height: 1.4em
                font-weight: 700

                @media $mq.not_mobile
                    font-size: 22px

            &__button
                height: auto
                color: $colors.accent

                &::before
                    display: none

    &[data-mode="result"]
        @media $mq.not_mobile
            padding-bottom: 40px

        &:before
            display: none

        .Cipr
            &__heart
                display: none

            &__header
                display: none

            &__content
                padding: 0 15px
                max-width: none

                @media $mq.not_mobile
                    box-sizing: content-box
                    padding: 0 30px

                @media $mq.tablet
                    padding: 0 40px

            &__text
                background #751083;
                color #fff
                font-size: 20px
                line-height: 1.5em
                font-weight: 500
                padding: 20px 30px;
                display flex;

                &-body
                    margin-right: 30px
                    p
                        margin 10px 0

            &__resultContent
                @media $mq.not_mobile
                    max-width: 580px
                    margin-left: auto
                    margin-right: auto

            &__button
                width: 210px
                display: flex
                align-items: center
                justify-content: center
                margin: 0 auto auto
                color: #fff

            &__title
                margin-bottom: 20px
                max-width: 320px

                @media $mq.not_mobile
                    font-size: 34px
                    margin-bottom: 30px

            &__text
                margin-bottom: 0

                @media $mq.not_mobile
                    font-size: 16px
                    line-height: 1.5em

            &__options,
            &__actions
                display: none

    &--compact
        overflow: hidden
        border: 0
        background-color: $colors.white
        z-index: 1

        @media $mq.not_mobile
            max-width: 640px
            min-height: 620px

            &:before
                display: none

            .Cipr
                &__heart
                    display: block

                &__header
                    padding: 35px 40px

                &__content
                    padding: 0 40px

                &__title
                    font-size: 32px

                &__result
                    padding: 30px 40px
                    margin: 0 -40px 30px

                &__options
                    margin-bottom: 80px

            &[data-mode="start"]
                .Cipr
                    &__content
                        max-width: 400px

            &[data-mode="result"]
                .Cipr
                    &__content
                        padding: 0 40px
