@import 'mq'
@import 'functions'
@import 'keyframes'
// @import 'base'

$colors = {
    white: #ffffff,
    black: #000000,
    gray: #646464,
    accent: #00B856,
    pink: #F22966,
    gray: #CAE9E9
}

button(borderColor = #111, backgroundColor = transparent, hoverBackground = #00B856, hoverColor = #fff)
    position relative
    height: 56px
    line-height 56px
    text-align: center

    &::before
        content: ''
        position: absolute;
        top: 0
        bottom: 0
        left: 0
        right: 0
        border: 4px solid borderColor
        background-color backgroundColor
        transform: skewX(-10deg)
        transition transform 50ms ease-in;
        will-change transform

    &-content
        position: relative
        z-index: 2
        height: auto
        display: inline

    &:hover
        color hoverColor

        &::before
            transform: skewX(-15deg)
            background-color hoverBackground
            border-color hoverBackground

contentZone()
    flex-basis 100%
    max-width: 580px
    margin 0 auto

    @media $mq.mobile
        padding 0 15px

.MegafonSpeed
    width: 100%
    max-width: 1060px
    margin: 0 auto
    background-color: $colors.white
    font-family Roboto, Helvetica, Arial
    color: $colors.black
    font-size: 16px
    line-height: 1.5em
    display: flex
    flex-flow: row wrap
    position: relative
    // z-index: 1
    overflow: hidden
    outline: 0

    @media $mq.not_mobile
        font-size: 18px
        margin: auto

    @media $mq.tablet
        max-width: 640px

    @media $mq.desktop
        overflow: visible

    svg
        pointer-events: none
        fill: currentColor

    &__header
        contentZone()
        display: flex
        padding: 30px 0

        @media $mq.mobile
            padding-top: 15px

        a
            border: 0 !important
            color: inherit !important

    &__counter
        display: flex
        animation: cipr_appear 0.3s ease-in-out

        span
            width: 10px
            height: @width
            border: 2px solid $colors.gray
            margin-right: 5px
            flex-shrink: 0

            &.active
                border-color: $colors.accent

    &__content
        position: relative
        contentZone()
        box-sizing: content-box
        display: flex
        flex-direction: column
        min-height 500px

    &__text
        margin-bottom: 20px

        div
            animation: cipr_appear 0.3s ease-in-out

        span
            display: block
            height: 1em

        strong
            font-weight: 700

    &__title
        font-size: 28px
        line-height: 1.3em
        font-weight: 700
        margin-bottom: 10px

        @media $mq.tablet
            font-size: 32px

        @media $mq.desktop
            font-size: 38px

        a
            color: inherit !important
            border: 0 !important

    &__options
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content space-around


        &--disabled
            pointer-events: none

            .MegafonSpeed__option
                //display: none

                &::before
                    background-color #787378

                &--success
                    &::before
                        background-color #31C276

                &--error
                    &::before
                        background-color #EC7664

                &--success,
                &--error
                    display: flex

                &--error
                    border-color: $colors.pink

                    ~ .MegafonSpeed__message
                        a
                            border-bottom-color: $colors.pink !important

                            &:hover
                                color: $colors.pink !important



    &__option
        position: relative
        cursor: pointer
        display: flex
        align-items: center
        margin-bottom: 10px
        animation: cipr_appear 0.15s ease-in
        flex-direction column
        font-weight: 500
        font-size: 16px
        text-align: center

        &::before
            content: '';
            background #F3F3F3
            width: 218px
            height: 218px
            border-radius 50%
            margin-bottom: 20px

            @media $mq.mobile
                width: 109px
                height: 109px

        &:not(:last-of-type){
          margin-right 25px
        }

        @media $mq.mobile
            font-size: 14px
            margin: 0 auto 10px
            line-height: 1.3em

        &-image
            position: absolute
            top: 50%
            transform translateY(-60%)
            max-height 220px
            margin-bottom: 15px

            @media $mq.mobile
                max-height 100px

        &[data-number="0"][data-id="0"] &-image
            max-height 180px

            @media $mq.mobile
                max-height 90px

        &[data-number="0"][data-id="1"] &-image
            max-height 115px

            @media $mq.mobile
                max-height: 57px

        &[data-number="1"][data-id="0"] &-image
            max-height 268px

            @media $mq.mobile
                max-height: 134px

        &[data-number="1"][data-id="1"] &-image
            max-height 233px

            @media $mq.mobile
                max-height: 116px

        &[data-number="2"][data-id="0"] &-image
            max-height 177px

            @media $mq.mobile
                max-height: 88px


        &[data-number="2"][data-id="1"] &-image
            max-height 177px

            @media $mq.mobile
                max-height: 88px

        &[data-number="3"][data-id="0"] &-image
            max-height 204px

            @media $mq.mobile
                max-height: 102px

        &[data-number="3"][data-id="1"] &-image
            max-height 107px

            @media $mq.mobile
                max-height: 53px

        &[data-number="4"][data-id="0"] &-image
            max-height 251px

            @media $mq.mobile
                max-height: 125px

        &[data-number="4"][data-id="1"] &-image
            max-height 190px

            @media $mq.mobile
                max-height: 95px

        &[data-number="5"][data-id="0"] &-image
            max-height 125px

            @media $mq.mobile
                max-height: 60px

        &[data-number="5"][data-id="1"] &-image
            max-height 113px

            @media $mq.mobile
                max-height: 57px

        &[data-number="6"][data-id="0"] &-image
            max-height 140px

            @media $mq.mobile
                max-height: 70px

        &[data-number="6"][data-id="1"] &-image
            max-height 180px

            @media $mq.mobile
                max-height: 90px

        &[data-number="7"][data-id="0"] &-image
            max-height 150px

            @media $mq.mobile
                max-height: 75px

        &[data-number="7"][data-id="1"] &-image
            max-height 177px

            @media $mq.mobile
                max-height: 88px

        &[data-number="8"][data-id="0"] &-image
            max-height 150px

            @media $mq.mobile
                max-height: 75px

        &[data-number="8"][data-id="1"] &-image
            max-height: 180px;

            @media $mq.mobile
                max-height: 90px

        &[data-number="9"][data-id="0"] &-image
            max-height 193px

            @media $mq.mobile
                max-height: 96px

        &[data-number="9"][data-id="1"] &-image
            max-height 200px

            @media $mq.mobile
                max-height: 100px
                transform translateY(-90%)

        &[data-number="10"][data-id="0"] &-image
            max-height 225px

            @media $mq.mobile
                max-height: 112px

        &[data-number="10"][data-id="1"] &-image
            max-height 186px

            @media $mq.mobile
                max-height: 93px

        &[data-number="11"][data-id="0"] &-image
            max-height 176px

            @media $mq.mobile
                max-height: 88px
                transform translateY(-90%);

        &[data-number="11"][data-id="1"] &-image
            max-height 166px

            @media $mq.mobile
                max-height: 83px
                transform translateY(-90%);

        &[data-number="12"][data-id="0"] &-image
            max-height 146px

            @media $mq.mobile
                max-height: 73px

        &[data-number="12"][data-id="1"] &-image
            max-height 130px

            @media $mq.mobile
                max-height: 65px
                transform translateY(-90%);

        &[data-number="13"][data-id="0"] &-image
            max-height 252px

            @media $mq.mobile
                max-height: 126px

        &[data-number="13"][data-id="1"] &-image
            max-height 227px

            @media $mq.mobile
                max-height: 113px

        &-overlay
            position: absolute
            font-size: 30px
            font-weight: 900
            top: 43%
            transform translateY(-50%)
            width 100%
            text-align: center
            color #fff

            @media $mq.mobile
                font-size: 16px
                top: 36%

            i
                display: block
                margin: 0 auto 15px
                width: 48px
                height: 30px
                background: url("data:image/svg+xml,%3Csvg width='49' height='31' viewBox='0 0 49 31' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M28.82 23.268a1.387 1.387 0 0 0-.156-.527L17.46 1.6a1.463 1.463 0 0 0-1.753-.688 1.42 1.42 0 0 0-.953 1.602l4.366 23.442c.034.186.106.353.205.505.042.2.093.4.162.6.704 2.005 2.627 3.357 4.786 3.357a5.11 5.11 0 0 0 1.642-.27 4.994 4.994 0 0 0 2.903-2.517 4.859 4.859 0 0 0 .001-4.363zm-4.546-20.82c-.798 0-1.445.635-1.445 1.419 0 .783.647 1.42 1.445 1.42 11.521 0 20.892 9.209 20.892 20.527 0 .783.65 1.42 1.447 1.42.8 0 1.446-.637 1.446-1.42 0-12.886-10.67-23.366-23.785-23.366zM9.328 7.636C3.712 12.099.49 18.724.49 25.814c0 .783.647 1.42 1.446 1.42.8 0 1.447-.637 1.447-1.42 0-6.228 2.83-12.048 7.764-15.969a1.403 1.403 0 0 0 .215-1.997 1.466 1.466 0 0 0-2.034-.212z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat;

                @media $mq.mobile
                    width: 34px
                    height: 20px
                    background-size auto 20px
                    margin-bottom: 5px

    &__message
        margin-top: 10px
        pointer-events: auto
        animation: cipr_appear 0.3s ease-in-out
        max-width: 480px

        @media $mq.not_mobile
            font-size: 16px
            line-height: 1.5em
            margin-top: 15px

        a
            color: inherit !important
            font-weight: 700
            border-bottom: 2px solid $colors.accent !important
            padding-bottom: 2px

            &:hover
                color: $colors.accent !important

        span
            display: block
            height: 1em

    &__actions
        display: flex
        margin-top: auto
        margin-bottom: 30px

    &__button
        button($colors.accent)
        display: block
        font-size: 20px
        font-weight: 700
        margin: 30px 0 0 0
        padding: 0
        cursor: pointer
        outline: 0
        background-color: transparent
        border: 0
        height: 56px
        animation: cipr_appear 0.3s ease-in-out
        color: #000

        svg
            display: inline-block
            vertical-align: middle
            margin-left: 15px
            margin-top: -4px
            transition transform 100ms ease

        &:hover
            svg
                transform translateX(5px)

    &__result
        box-sizing: border-box
        display: flex
        background-repeat: no-repeat
        background-position: 95% 30%;
        background-size: auto 115px;
        padding: 30px 0;
        height: 320px

        @media $mq.not_mobile
            height: 413px
            background-position: 75% 50%;
            background-size: auto 215px;

        @media $mq.mobile
            padding-top: 15px


    &__resultPoints
        font-size: 22px
        font-weight: 900
        color: #751083;
        margin-bottom: 20px

        @media $mq.mobile
            font-size: 14px
            margin-bottom: 10px

    &__resultContent
        flex: 1
        display: flex
        flex-direction: column
        position: relative
        animation: cipr_appear 0.3s ease-in-out

    &__resultActions
        flex: 1
        display: flex
        flex-direction: column

    &__restartButton
        display: inline-flex
        align-items: center
        cursor: pointer
        color: $colors.accent
        margin-top: auto
        font-size: 16px
        font-weight: 700

        @media $mq.mobile
            margin-top: 15px

        svg
            margin-left: 8px
            pointer-events: none
            transition transform 150ms ease-in

        &:hover
            svg
                transform rotate(360deg)

    &__timer
        button(#751083, #751083)
        position: absolute
        display: inline-block
        top: 30px
        right: 30px
        color: #fff
        font-size: 16px
        font-weight: 900
        padding 10px;
        height: auto
        line-height: initial

        @media $mq.mobile
            top: 15px
            right: 15px
            font-size: 13px
            padding 6px

        &-content
            z-index: 1
            position: relative

        &:empty
            &::before
                display: none

    .likely--custom
        display: flex
        margin-bottom: 20px

        @media $mq.not_mobile
            margin-bottom: 60px

        .likely
            &__widget
                button(#751083, #751083)
                height: 50px
                min-width: 60px
                margin-right: 10px
                display: flex
                align-items: center
                justify-content: center
                color: #fff
                background transparent !important
                transition transform 100ms ease;
                will-change: transform

                &::before
                    transition box-shadow 100ms ease;
                    box-shadow: 0 15px 22px 0 rgba(121,54,68,0.23);

                &:hover
                    transform translateY(3px)

                    &::before
                        border-color #751083
                        background-color: #751083;
                        box-shadow: 0 4px 14px 0 rgba(121, 54, 68, 0.23);


                &:last-child
                    margin-right: 0

                &--facebook
                    @media $mq.not_mobile
                        padding: 0 20px

            &__button,
            &__icon,
            &__counter
                z-index 1

            &__button
                @media $mq.mobile
                    display: none

            &__icon
                background-color: transparent

                svg
                    display: block
                    width: 24px
                    height: @width
                    fill: #fff

                &--vkontakte
                    svg
                        width: 28px
                        height: @width

                &--facebook
                    @media $mq.not_mobile
                        margin-right: 6px
                        margin-left: -8px

    &[data-mode="start"]
        &.MegafonSpeed
            background-image url("https://leonardo.osnova.io/dc865026-1149-76c8-f1af-9701f08e2cbb")
            background-repeat no-repeat
            background-position center 70%
            background-size contain

            @media $mq.mobile
                background-size: auto 60%;

        .MegafonSpeed
            &__counter,
            &__timer
                display: none

            &__header
                a
                    margin-left: auto

            &__text
                div
                    animation: none

                @media $mq.not_mobile
                    font-size: 18px
                    line-height: 1.5em

            &__actions
                flex-direction: row

            &__button
                border-color: $colors.accent
                width: 146px
                animation: none

                svg
                    display: none

    &[data-mode="progress"]
        &.MegafonSpeed {
            background-image url('https://leonardo.osnova.io/9dd2376e-2c18-fe6b-485e-05489b09a360');
            background-size auto 100%
            background-position center center
            background-repeat no-repeat
        }

        .MegafonSpeed
            &__heart
                transform: rotate(73deg) scale(1.49) translate(320px, 140px)

                @media $mq.mobile
                    transform: rotate(20deg) scale(0.75) translate(100px, -200px)

                &:before
                    transform: translate(15px, -110px) rotate(-75deg) scale(0.85)

            &__header
                display: none

            &__content
                padding-top 30px

            &__counter
                width: 64px

            &__text
                font-size: 28px
                line-height: 1.4em
                font-weight: 900
                margin-bottom: 50px

                @media $mq.mobile
                    font-size: 22px
                    padding-right: 90px

            &__button
                height: auto
                color: $colors.accent
                margin: 0 auto;

                &::before
                    display: none

    &[data-mode="result"]
        &.MegafonSpeed {
            //background-image url('https://leonardo.osnova.io/ad5653d1-f8ef-ba6f-359d-97bccc3ffba1/');
            background-size auto 100%
            background-position center center
            background-repeat no-repeat
        }

        .MegafonSpeed
            &__heart,
            &__timer
                display: none

            &__header
                position: absolute
                right: 20%;
                z-index: 2

                @media $mq.mobile
                    right: 0
                    padding: 10px

                svg
                    @media $mq.mobile
                        height: 15px
                        width: 80px


            &__counter
                display: none

            &__content
                max-width: none

                @media $mq.not_mobile
                    box-sizing: content-box


            &__text
                background #751083;
                color #fff
                font-weight: 500
                padding: 20px 30px;

                @media $mq.mobile
                    margin: 0 -15px
                    padding: 15px

                &-content
                    contentZone()
                    display flex;

                    @media $mq.mobile
                        padding-left 0 !important
                        padding-right 0 !important
                        flex-direction column

                &-body
                    margin-right: 30px
                    font-size: 20px
                    line-height: 1.5em

                    @media $mq.mobile
                        font-size: 15px
                        margin-left: 0
                        padding-bottom: 15px

                    p:not(:last-of-type)
                        margin-bottom 10px

            &__resultContent
                @media $mq.not_mobile
                    max-width: 580px
                    margin-left: auto
                    margin-right: auto

            &__button
                button($colors.accent, $colors.accent)
                padding: 0 20px;
                display: flex
                align-items: center
                justify-content: center
                margin: 0 0 auto
                font-size: 18px
                color: #fff

                &::before
                    border-radius 30px
                    transform none

                &:hover
                    &::before
                        transform none

            &__title
                max-width: 320px
                font-size: 30px
                font-weight: 900
                margin-bottom: 30px

                @media $mq.mobile
                    margin-bottom: 15px
                    font-size: 20px
                    padding-right: 100px

            &__text
                margin-bottom: 0

                @media $mq.not_mobile
                    font-size: 16px
                    line-height: 1.5em

            &__options,
            &__actions
                display: none

    &--compact
        overflow: hidden
        border: 0
        background-color: $colors.white
        z-index: 1

        @media $mq.not_mobile
            max-width: 640px
            min-height: 620px

            &:before
                display: none

            .MegafonSpeed
                &__heart
                    display: block

                &__header
                    padding: 35px 40px

                &__content
                    padding: 0 40px

                &__title
                    font-size: 32px

                &__options
                    margin-bottom: 80px

            &[data-mode="start"]
                .MegafonSpeed
                    &__content
                        max-width: 400px

            &[data-mode="result"]
                .MegafonSpeed
                    &__content
                        padding: 0 40px
